@model GiftCertWeb.Models.Outlet

@{
    ViewData["Title"] = "Create";
}

<h4>Outlet</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" class='form-horizontal'>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div id="panel5" class="panel panel-default" data-role="panel">
                <div class="panel-heading">New</div>
                <div class="panel-body">
                    <div class='row'>
                        <div class='form-group col-xs-6'>
                            <label class='col-xs-4 control-label'>Gift Cert No</label>
                            <div class='col-xs-8'>
                                <input  value="@(ViewBag.GiftCertNo ?? string.Empty)" class="form-control" readonly />
                            </div>
                        </div>
                    </div>

                    <div class='row'>
                        <div class='form-group col-xs-6'>
                            <label class='col-xs-4 control-label'>Name</label>
                            <div class='col-xs-8'>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class='row'>
                <div class='form-group col-xs-12'>
                    <input type="submit" value="Save" class="btn btn-default" />
                    &nbsp;
                    <a asp-controller="GiftCert" asp-action="Edit" asp-route-id="@ViewBag.GiftCertNo">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
