
body {
    margin-top: 0px;
    margin-left: 0px;  
}

#page_1 {
    position: relative;
    overflow: hidden;
    margin: 67px 0px 598px 0px;
    padding: 0px;   
    width: 770px;
    border: none;
    zoom: 200%;
}

    #page_1 #p1dimg1 {
        position: absolute;
        top: 0px;
        left: 440px;
        z-index: -1;
        width: 282px;
        height: 260px;
    }

        #page_1 #p1dimg1 #p1img1 {
            width: 282px;
            height: 260px;
        }

#p1dimg2 {
    position: absolute;
    top: 183px;
    left: 547px;
    z-index: -1;
    width: 282px;
    height: 260px;
}



.dclr {
    clear: both;
    float: none;
    height: 1px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.ft0 {
    font: 16px 'Mistral';
    line-height: 18px;
}

.ft1 {
    font: 15px 'Mistral';
    line-height: 19px;
}

.ft2 {
    font: bold 25px 'Mistral';
    line-height: 32px;
}

.ft3 {
    font: bold 19px 'Mistral';
    line-height: 27px;
}

.ft4 {
    font: 13px 'Forte';
    line-height: 16px;
}

.ft5 {
    font: 18px 'Mistral';
    line-height: 26px;
}

.p0 {
    text-align: right;
    padding-right: 40px;
    margin-top: 1px;
    margin-bottom: 0px;
}

.p1 {
    text-align: right;
    padding-right: 40px;
    margin-top: 16px;
    margin-bottom: 0px;
}

.p2 {    
    text-align: right;
    padding-right: 40px;
    margin-top: 116px;
    margin-bottom: 0px;
}

.p3 {
    text-align: center;
    padding-right: 30px;
    margin-top: 39px;
    margin-bottom: 0px;
}

.p4 {
    text-align: center;
    padding-right: 30px;
    margin-top: 14px;
    margin-bottom: 0px;
}

.p5 {
    text-align: left;
    padding-left: 45px;
    margin-top: 18px;
    margin-bottom: 0px;
}

.p6 {
    text-align: right;
    padding-right: 196px;
    margin-top: 8px;
    margin-bottom: 0px;
}

.p7 {
    text-align: left;
    padding-left: 510px;
    margin-top: 16px;
    margin-bottom: 0px;
}
