
body {
    margin-top: 0px;
    margin-left: 0px;  
}

#page_1 {
    position: relative;
    overflow: hidden;
    margin: 67px 0px 598px 0px;
    padding: 0px;   
    width: 770px;
    border: none;
    zoom: 200%;
}

    #page_1 #p1dimg1 {
        position: absolute;
        top: 15px;
        left: 443px;
        z-index: -1;
        width: 282px;
        height: 260px;
    }

    #page_1 #p1dimg1 #p1img1 {
        width: 282px;
        height: 260px;
    }

    #p1dimg3 {
        position: absolute;
        top: 527px;
        left: 51px;
        z-index: -1;
        width: 164px;
        height: 52px;        
        zoom: 150%;
    }      

    #p1dimg2 {
        position: absolute;
        top: 208px;
        left: 565px;
        z-index: -1;
        width: 282px;
        height: 260px;
    }
.dclr {
    clear: both;
    float: none;
    height: 1px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.ft0 {
    font: 16px 'Mistral';
    line-height: 18px;
}

.ft1 {
    font: 15px 'Mistral';
    line-height: 18px;
}

.ft2 {
    font: bold 25px 'Mistral';
    line-height: 32px;
}

.ft3 {
    font: bold 20px 'Mistral';
    line-height: 30px;
}

.ft4 {
    font: 13px 'Forte';
    line-height: 14px;
}

.ft5 {
    font: 19px 'Mistral';
    line-height: 13px;
}

.ft6 {
    font: 11px 'Mistral';
    line-height: 15px;
}

.p0 {
    text-align: right;
    padding-right: 31px;
    margin-top: 15px;
    margin-bottom: 0px;
}

.p1 {
    text-align: right;
    padding-right: 28px;
    margin-top: 6px;
    margin-bottom: 0px;
}

.p2 {
    text-align: right;
    padding-right: 33px;
    margin-top: 111px;
    margin-bottom: 0px;    
}

.p3 {
    text-align: center;
    padding-right: 30px;
    margin-top: 52px;
    margin-bottom: 0px;
}
.p4 {
    text-align: center;
    padding-right: 30px;
    margin-top: 12px;
    margin-bottom: 0px;
}

.p5 {
    text-align: left;
    padding-left: 48px;
    margin-top: -6px;
    margin-bottom: 0px;
}

.p6 {
    text-align: left;
    padding-left: 581px;
    margin-top: -4px;
    margin-bottom: 0px;
}

.p7 {
    text-align: left;
    padding-left: 543px;
    margin-top: 30px;
    margin-bottom: 0px;
}
.p8 {
    text-align: center;
    padding-right: 25px;
    margin-top: 20px;
    margin-bottom: 0px;
}
.p9 {
    text-align: right;
    padding-right: 30px;
    margin-top: 8px;
    margin-bottom: 0px;
}
