@model GiftCertWeb.Models.GiftCert
@addTagHelper "*, GiftCertWeb"
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>  
    <div class="container">      
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td width="60%">&nbsp;</td>
                <td align="right" width="40%">@Model.DtiPermitNo</td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            @foreach (var servicesType in @Model.ServicesType.ToList())
    {
        <tr>
            <td colspan="2" align="center">@servicesType.Name</td>
        </tr>
}
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td align="left">
                    Note: not valid during Promotions/Peak season/Festive Season
                </td>
                <td align="left">
                    PUU
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td align="left">@Model.ExpirationDateStr</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td align="left"> <qrcode-png alt="QR Code" width="50" height="50" margin="0" content="https://github.com/micjahn/ZXing.Net" /></td>
            </tr>
        </table>
    </div>

</body>
</html>